body {
  margin: 0;
  overflow-x: hidden;
}

.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.unstyled-anchor {
  color: inherit;
  text-decoration: inherit;
}

h2 {
  font-size: 64px;
}
